.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.421), rgba(0, 0, 0, 0.411)), url(../../images/surf.jpg);
    padding: 120px 0;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.banner h1 {
    font-size: 55px;
    font-weight: bolder;
    margin-bottom: 40px;
    color: blanchedalmond;
}

.banner h2 {
    font-size: 23px;
    font-weight: normal;
    opacity: 0.8;
    margin-bottom: 40px;
    color: blanchedalmond;
}