.btn-blue {
    background-color: #00A9FF;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 05px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.btn-blue:hover {
    background-color: #89CFF3;
}