container {
    width: 600px;
    margin: 0 auto;
}

@media (max-width: 750px) {
    .container {
      width: 600px;
    }
  }
  @media (max-width: 750px) {
    .container {
      width: 500px;
    }
  }
  @media (max-width: 550px) {
    .container {
      width: 400px;
    }
  }